.auth-body-bg .bg-overlay {
    background: rgba(51, 130, 245, 0.3);
    /* background: rgba(245, 48, 98, .3);
    background: rgba(0, 151, 167, .2);
    background: rgba(51, 51, 51, .1); */
}



/* For Validation */
label.error{
    color: #f53b57;
}

input.error,
textarea.error{
    border: 1px solid #f53b57;
    box-shadow: 0 0 0 .25rem rgba(245, 59, 87,.20) !important;
}

input.error:focus,
textarea.error:focus {
    background-color: #fcb1ae;
}

input.valid,
textarea.valid{
    border: 1px solid #05c46b;
    box-shadow: 0 0 0 .25rem rgba(5, 196, 107,.20) !important;
}

input.valid:focus,
textarea.valid:focus {
    background-color: #0be881;
    
}

